<!DOCTYPE html>
<html ng-app="meuTodo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TODO do PH</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container" ng-controller="TodoController">

        <h2>TODO do PH</h2>
        <br>
        <div class="row">
            <form class="form-inline" ng-submit="adicionar()">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="todo.texto" placeholder="Qual a tarefa?">
                </div>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </form>
        </div>

        <br>

        <div class="row ">
            <div ng-repeat="t in lista">
                <input type="checkbox" ng-model="t.concluido"> <span ng-bind="t.texto"></span>
            </div>
        </div>
        <br>
        <div class="row">
            <button ng-click="apagar()" class="btn btn-danger">Apagar selecionados</button>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/app.js"></script>

</body>

</html>