<!DOCTYPE html>
<html ng-app="meuTodo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TODO do PH</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <div class="container" ng-controller="TodoController">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="todolist">
                    <h1>TODO do PH</h1>
                    <form ng-submit="adicionar()">
                        <input type="text" class="form-control" placeholder="Adicionar tarefa" ng-model="todo.descricao">
                    </form>
                    <button id="btnApagar" ng-click="apagar()" class="btn btn-danger">Apagar arquivadas</button>
                    <hr>
                    <ul class="list-unstyled">
                        <li class="ui-state-default" ng-repeat="t in lista">
                            <div class="checkbox">
                                <label ng-class="{arquivada: t.arquivada}">
                                    <input type="checkbox" ng-model="t.arquivada" ng-click="arquivar(t)">{{t.descricao}}
                                </label>
                            </div>
                        </li>
                    </ul>
                    <div class="todo-footer">
                        <strong>Total de Tarefas <span class="count-todos">{{lista.length}}</span></strong>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>

</html>